.date-picker {
    --date-picker-text-xl-size: 1.375em;
    --date-picker-text-l-size: 1.25em;
    --date-picker-text-m-size: 1.125em;
    --date-picker-text-s-size: 1em;
    --date-picker-text-xs-size: 0.875em;
}

.date-picker_dark {
    --date-picker-primary-bg-color: #1e252b;
    --date-picker-secondary-bg-color: #262d34;
    --date-picker-primary-color: #ff571a;
    --date-picker-secondary-color: #ff4400;
    --date-picker-tertiary-color: #e0e0e0;
}

.date-picker_light {
    --date-picker-primary-bg-color: #cccccc;
    --date-picker-secondary-bg-color: #ffffff;
    --date-picker-primary-color: #ff571a;
    --date-picker-secondary-color: #ff4400;
    --date-picker-tertiary-color: #424242;
}
