.date-input {
    position: relative;
}

.date-input__input {
    width: 7.5em;
    font-size: var(--date-picker-text-l-size);
    color: var(--date-picker-primary-color);
    padding: 0.3em 1.5em 0.3em 0.3em;
    border: 1px solid transparent;
    background-color: var(--date-picker-secondary-bg-color);
    transition: all 0.2s linear;

    &:focus {
        outline: 1px solid var(--date-picker-secondary-color);
    }
}

.date-input__toggle-btn {
    cursor: pointer;
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--date-picker-primary-color);
    font-size: var(--date-picker-text-m-size);
    background-color: transparent;
    border-radius: 2px;
    background-color: var(--date-picker-secondary-bg-color);
    transition: all 0.2s linear;

    &:focus {
        outline: 1px solid var(--date-picker-secondary-color);
    }
}

.date-input__toggle-btn-icon {
    display: block;
    width: 100%;
    height: 100%;
}
